.b-avatar{
  max-width: 250px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 10px;
  max-height: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  &_img{
    box-sizing: border-box;
    object-position: center;
    object-fit: contain;
    width: 100%;
  }
  &__position{
    margin-right: 10%;
  }
}
