.b-form {
  background: #d5f1e8;
  padding: 60px;
  border-radius: 5px;
  font-weight: bold;
  &__decoration {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  &__position {
    margin-top: 50px;
  }
  &_content {
    justify-content: center;
  }
  &_button{
    font-weight: bold;
    width: 150px;
    &__position{
      margin-top: 50px;
      margin-right: 15px;
    }
  }
  &_btns{
    align-self: flex-end;
  }

}
